
/* bigshot one font */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body,html{margin:0;padding:0;height:100%;}
body{
  background: rgb(255, 248, 241);
  background-size:cover;
  font-family: 'Lora', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/*
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
*/
svg{font-weight:bold;max-width:800px;height: 100%;}